ul, li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0 5px;
}

.users{
    margin-bottom: 15px;
    padding-left: 10px;
    font-weight: normal;
}

.content-container {
    width: 1600px;
    height: 700px;
    margin: 10px auto 0;
    background-color: white;
    border: 1px solid #dadada;
}

.container-rooms {
    width: 360px;
    border-right: 1px solid #dadada;
    padding: 10px;
}

.container-users {
    width: 290px;
    border-left: 1px solid #dadada;
}

.item-container {
    background-color: white;
}

.flex {
    display: flex;
}

.bold {
    font-weight: bold;
}

.chat-window-container {
    width: 600px;
    margin: 0 auto;
}

.message {
    margin-top: 30px;
    background-color: #e3eef9;
    padding: 20px;
    max-width: fit-content;
    border-radius: 10px;
}

.user-message {
    margin-left: 500px;
}

.participant-message {

}

.message-input {
    width: 510px;
}

.message-input-btn {
    height: 36px;
    width: 80px;
}

.input-room-name {
    background-color: white;
    margin-top: 4px;
}

.Button {
    top: -4px;
    left: 0;
    width: 51px;
    height: 30px;
}

.green {
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.red {
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.status {
    font-size: 14px;
}

.profile {
    width: 316px;
    margin: 5px auto;
    padding: 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: white;
}

.profile-img {
    width: 45px;
    height: 45px;
}

.profile-name {
    margin: 4px 10px 1px;
}

.profile-status {
    margin-left: 10px;
}

.change-status-btn {
    border: none;
    background-color: white;
    font-size: 14px;
    font-family: auto;
    color: gray;
}

.create-room-input {
    padding-left: 10px;
    background-color: #1976d2;
    margin: 5px 5px 50px;
    border-radius: 5px;
    height: 40px;
}

.delete-icon {
    text-decoration: none;
    font-size: 12px;
    width: 10px;
    height: 10px;
    color: black;
    margin-left: 10px;
}

.add-room-btn {
    height: 30px;
    margin-left: 16px!important;
    margin-bottom: 2px!important;
}

.chat {
    justify-content: space-between;
    padding: 20px 10px;
    cursor: pointer;
}

.active {
    background-color: #e3eef9;
    margin-top: 3px;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.inactive {
    background-color: white;
    margin-top: 3px;
    border-radius: 5px;
    white-space: nowrap;
}

/*.input-container {*/
/*    margin-top: 150px;*/
/*}*/

.mg-pd {
    margin: 20px 0;
    padding: 10px;
}

.users-list {
    height: 600px;
}

.clear-button {
    margin: 7px 72px !important;
}

.chat-window-upper {
    height: 60px;
}

.chat-window-messenger {
    height: 540px;
    overflow: auto;
}

.chat-window-input {
    margin-top: 30px;
}
